.newUser {
  flex: 4;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.newUser{
  padding-right:2%;
}
.newUserTitle{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.topbarIconContainer{
  margin-top: 15px;
  padding-bottom: 10px;
}
.userUpdate1 {
  flex: 4;
  text-align: center;
  color: #fff;
  margin: auto;
  background-color: #282c34;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.79);
-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.79);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.79);
}
.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.newUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}


@media only screen and (max-width: 720px) {
  .topbar{
    position :absolute;
  }
  .sidebar{
    display: none;
  }
  /* .sidebarWrapper{
    height: 90vh;
    overflow: hidden;
  }
  .container{
    height:90vh;
  }*/
  .userUpdate {
    width: 80vw;
    margin-left: 2.5% !important;
  } 
  .indexPage1 {
    position :absolute;
    bottom: 20%;
    right :-90%;
  }


}

@media only screen and (max-width:340px) {
  .newUserButton{
   width: 60vw;
     }
  .newUserSelect{
    width: 73vw;
  }
   }

   @media only screen and (max-width:238px) {
    .newUserItem {
      width: 90vw !important;
       }
       .newUserSelect{
        width: 75vw;
      }
      /* .newUserButton{
        width: 70vw;
          } */
     }

     @media only screen and (max-width:219px) {
      .newUserButton{
       width: 60vw;
       padding: 7px 10px;
       font-weight: 600;
       border-radius: 10px;
       margin-top: 30px;
       margin-left: 30%;
         }
       }

